#app,
html {
    display: block;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    
    &.loggedout {
        background: #141e30;
    }

    &.loggedin {
        background: #141e30;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #141e30 110px, #c7c7c7 112px);
        background: linear-gradient(to bottom, #141e30 110px, #c7c7c7 112px);
    }
    .b-icon.bi {
        vertical-align: -0.27em;
        margin-right: 5px;
    }
    #title-bar {
        -webkit-app-region: drag;
        height: 32px;
        padding: 0px;
        margin: 0px;
        color: white;
        font-family: sans-serif;
        background-color: transparent;
        margin-bottom: 10px;

        #title {
            position: fixed;
            top: 0px;
            left: 12px;
            line-height: 32px;
            font-size: 14px;
        }

        #title-bar-btns {
            -webkit-app-region: no-drag;
            position: fixed;
            top: 1px;
            right: 0px;
            button {
                height: 25px;
                width: 25px;
                background-color: transparent;
                border: none;
                color: #fff;
                font-size: 16px;
                border-radius: 50%;
                &:hover {
                    color: #fff;
                }
            }
        }
    }

    #drone-avatar {
        color: #ffffff;
        font-size: 20px;
        margin-bottom: 40px;
        padding-top: 10px;

        small {
            font-size: 12px;
            color: #c1bebe;
            font-style: italic;
        }
    }

    #login-form {
        legend {
            color: white;
        }
    }
}
